*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes border and padding included in width */ }

html {
  font-size: 62.5%;
  /* equivalent to 10px = 1rem */
  padding: 2rem;
  background-color: white; }

body {
  box-sizing: border-box;
  background-color: #e8edf3; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes swingArrow {
  0% {
    transform: rotate(60deg);
    color: #FFBE0B; }
  50% {
    transform: rotate(-60deg);
    color: #FF0005; }
  100% {
    transform: rotate(60deg);
    color: #FFBE0B; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #d7adad, #b56969);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase; }

.heading-hell {
  color: #FF0005; }

.heading-heaven {
  color: #FFBE0B; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-sml {
  margin-bottom: 1.5rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }

.u-margin-bottom-lrg {
  margin-bottom: 8rem; }

.heading__arrow {
  font-size: 5rem;
  transform-origin: top;
  animation: swingArrow 8s infinite; }

.btn--animate {
  animation: moveInBtn .5s ease-in .75s;
  animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.btn--white {
  background-color: #e8edf3;
  color: #777; }
  .btn--white::after {
    background-color: #e8edf3; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #22264b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #22264b;
  padding: 3px 5px;
  transition: all .2s;
  border-radius: 5px; }

.btn-text:hover {
  background-color: #22264b;
  color: #e8edf3;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #acf5f4, #17BEBB); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #cee0ba, #698F3F); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #f29fd2, #AE1774); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color-burn;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right top, #acf5f4, #17BEBB), url(../images/eggs-benidict.jpeg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #cee0ba, #698F3F), url(../images/chicken.jpeg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #f29fd2, #AE1774), url(../images/brownie-dessert-cake-sweet-45202.jpeg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 50%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(104, 237, 234, 0.65), rgba(23, 190, 187, 0.65)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(143, 185, 97, 0.85), rgba(105, 143, 63, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(230, 69, 168, 0.85), rgba(174, 23, 116, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 12rem; }
    .composition__photo--p4 {
      left: 0;
      top: -2rem; }
    .composition__photo--p5 {
      right: 0;
      top: 2rem; }
    .composition__photo--p6 {
      left: 15%;
      top: 12rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      z-index: 2; }
    .composition__photo--p1:hover, .composition__photo--p2:hover, .composition__photo--p3:hover {
      outline: 1.5rem solid #FFBE0B; }
    .composition__photo--p4:hover, .composition__photo--p5:hover, .composition__photo--p6:hover {
      outline: 1.5rem solid #cc0004; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(230, 207, 139, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    background-color: #e6cf8b; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #777fc2, #b56969);
    -webkit-background-clip: text;
    color: transparent; }

.heading-seperator {
  text-align: center;
  margin: 50px auto;
  height: 5px;
  width: 30rem;
  background-color: #b56969; }

.logo-box {
  /* Adjust with media querys */
  background-color: #e6cf8b;
  padding: 1rem;
  border-radius: 100%;
  border: 0.5rem solid #b56969; }
  .logo-box__logo {
    font-size: 3rem;
    color: #b56969; }
  .logo-box--position {
    position: absolute;
    top: 10%;
    left: 7rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + gutter-horizontal); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + gutter-horizontal); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(34, 38, 75, 0.8), rgba(181, 105, 105, 0.8)), url(../images/asia-carrot-chopsticks-357756.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #e8edf3;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-in; }

.section-hell-heaven {
  background-color: #e8edf3;
  padding: 20rem 0 25rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(34, 38, 75, 0.5), rgba(181, 105, 105, 0.5)), url(../../images/cake-chocolate-chocolate-cake-132694.jpg);
  background-size: cover;
  margin-top: 20rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-recipes {
  background-color: #e8edf3;
  padding: 20rem 0 25rem; }
