// colours

$color-primary: #22264b; // navy
$color-secondary: #b56969; //salmon
$color-tertiary: #e6cf8b; // dark yellow
$color-light: #e8edf3; // very light blue
$color-black: #000;
$color-grey: #777;

// fonts

$default-font-size: 1.8rem;

// grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;