// colours

$color-primary: #22264b; // navy
$color-secondary: #b56969; //salmon
$color-tertiary: #e6cf8b; // dark yellow
$color-fourth: #e645a8;
$color-fifth: #17BEBB;
$color-sixth: #ff7738;
$color-light: #e8edf3; // very light blue
$color-black: #000;
$color-grey: #777;
$color-dark-grey: #999;

$color-hell: #FF0005;
$color-heaven: #FFBE0B;

// fonts

$default-font-size: 1.8rem;

// grid

$grid-width: 114rem;
$gutter-vertical-sml: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Box Shadow

$box-shadow: 0 1.5rem 4rem rgba($color-black, .15);