.header {
  height: 100vh;
  background-image: linear-gradient(90deg,
                    rgba($color-primary, .8) 0%,
                    rgba($color-primary, .8) 50%,
                    transparent 50%),
                    url('../images/sushi-sml.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;

  -webkit-clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);

  @media (min-resolution: 192dpi) and (min-width: 75em) {
    background-image: linear-gradient(90deg,
                      rgba($color-primary, .8) 0%,
                      rgba($color-primary, .8) 50%,
                      transparent 50%),
                      url('../images/sushi-lrg.jpeg');
  }

  @include respond(phone) {
    -webkit-clip-path: none;
    clip-path: none;
  }

  @include respond(tab-land) { // On sml screens adds colour to other half of header to highlight title!
    background-image: linear-gradient(90deg,
                      rgba($color-primary, .8) 0%,
                      rgba($color-primary, .8) 50%,
                      rgba(darken($color-secondary, 20%), .8) 50%),
                      url('../images/sushi-sml.jpeg');
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(tab-land) {
      top: 50%;
      left: 50%;
    }
  }
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInRight 1s ease-in;

    @include respond(phone) {
      letter-spacing: 2rem;
      font-size: 5rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-in;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }
  }
}