.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    font-size: 3rem;
    height: 50rem;
    transition: all .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: $box-shadow;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient( to right bottom, lighten($color-fifth, 40%), $color-fifth);
      }

      &-2 {
        background-image: linear-gradient( to right bottom, lighten($color-sixth, 40%), $color-sixth);
      }

      &-3 {
        background-image: linear-gradient( to right bottom, lighten($color-fourth, 40%), $color-fourth);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
