.composition {
  position: relative;

  &__photo {
    width: 60%;
    box-shadow: $box-shadow;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333%;

    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 1rem;
        left: -15%;
        transform: scale(1.8);
      }

      @include respond(phone) {
        transform: scale(1.2);
        left: -5%;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: 0rem;
        transform: scale(2);
        z-index: 100;
      }

      @include respond(phone) {
        transform: scale(1.4);
      }
    }

    &--p3 {
      left: 15%;
      top: 12rem;

      @include respond(tab-port) {
        top: 1rem;
        transform: scale(1.8);
      }

      @include respond(phone) {
        transform: scale(1.2);
        left: 5%;
      }
    }

    &--p4 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 1rem;
        left: -15%;
        transform: scale(1.8);
      }

      @include respond(phone) {
        transform: scale(1.2);
        left: -5%;
      }
    }

    &--p5 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(2);
        z-index: 100;
      }

      @include respond(phone) {
        transform: scale(1.4);
      }
    }

    &--p6 {
      left: 15%;
      top: 12rem;

      @include respond(tab-port) {
        top: 1rem;
        transform: scale(1.8);
      }

      @include respond(phone) {
        transform: scale(1.2);
        left: 5%;
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $box-shadow;
      z-index: 2;
    }

    &--p1:hover,
    &--p2:hover,
    &--p3:hover {
      outline: 1.5rem solid $color-heaven;
    }

    &--p4:hover,
    &--p5:hover,
    &--p6:hover {
      outline: 1.5rem solid darken($color-hell, 10%);
    }

  }

  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
}