.composition {
  position: relative;

  &__photo {
    width: 60%;
    box-shadow: $box-shadow;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 15%;
      top: 12rem;
    }

    &--p4 {
      left: 0;
      top: -2rem;
    }

    &--p5 {
      right: 0;
      top: 2rem;
    }

    &--p6 {
      left: 15%;
      top: 12rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $box-shadow;
      z-index: 2;
    }

    &--p1:hover,
    &--p2:hover,
    &--p3:hover {
      outline: 1.5rem solid $color-heaven;
    }

    &--p4:hover,
    &--p5:hover,
    &--p6:hover {
      outline: 1.5rem solid darken($color-hell, 10%);
    }

  }

  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
}