*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* makes border and padding included in width */
}

html {
  font-size: 62.5%; /* equivalent to 10px = 1rem */
  padding: 2rem;
  background-color: white;
}

body {
  box-sizing: border-box;
  background-color: $color-light;
}